.bean-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  margin: 10px;
  background-color: transparent;
}

.bean-button:hover {
  cursor: pointer;
}

.bean-image {
  width: 100px;
}