.lobster {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.modal-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1;
}

.modal-box {
  padding: 5% 9%;
  margin: auto;
  width: 65%;
  background-color: #FFF;
  z-index: 5;
  text-align: left;
  border-radius: 10px;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.descriptive-text {
  padding: 10px;
  border-radius: 10px;
}

img {
  max-width: 220px;
  max-height: 150px;
}